<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" href="dashboard.html">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">대시보드</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="datas.html">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">수집 데이터</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="logs.html">
        <i class="menu-icon typcn typcn-shopping-bag"></i>
        <span class="menu-title">수집 로그</span>
      </a>
    </li>
  </ul>
</nav>