<nav class="sidebar sidebar-offcanvas" id="sidebar">

  <ul class="nav">
    <li class="nav-item nav-profile">
      <div href="#" class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="../assets/images/profile.png" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">Team-ED</p>
          <p class="designation">관리자</p>
        </div>
        <a href="../pages/login.html">
          <div class="text-wrapper">
            <p class="logout">로그아웃</p>
          </div>
        </a>
      </div>
    </li>
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" href="dashboard.html">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">대시보드</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="datas.html">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">수집 데이터</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="logs.html">
        <i class="menu-icon typcn typcn-shopping-bag"></i>
        <span class="menu-title">수집 로그</span>
      </a>
    </li>
  </ul>
</nav>